.main-container {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;

}

.cards-container {
    height: 100%;
    background-color: rgba(160, 96, 96, 0.8);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}